.container{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  top: 105px;
}
.childDiv{
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #161b22;
  width: 80%;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #bfc2ca;
  /*outline: 1px solid gray;*/
  border: grey;
  overflow-wrap: break-word;
}
.childDiv:hover{
  transform: scale(1.02);
  transition: transform 0.3s;
  outline: 1px solid #1f6feb;
  .openIcon{
    fill: white;
  }
  .Heading{
    color: #f78166;
  }
}
@media(max-width: 500px) {
  .container{
    gap: 25px;
  }
  .childDiv{
    width: 85%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .childDiv h3{
    font-size: 17px;
  }
  .childDiv p{
    font-size: 14px;
  }
  .openIcon{
    width: 25px;
    height: 25px;
  }
}