.header{
    top:0;
    left:0;
    width:100%;
    height: 80px;
    background-color: rgba(1, 4, 9,0.5);
    color: #e5ecf2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    user-select: none;
    position: fixed;
    z-index: 100;
}
.logo{
    height:30px;
    width:30px;
    margin-right: 10px;
}
.sections{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 5px 20px 0 20px;
    background-color: #010409;
}
.sections button{
    border: none;
    color: #e6edf3;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    min-width: 110px;
    padding: 12px 20px 12px 20px;
    background-color: #010409;
    font-weight: bold;
}
.sections button:hover{
    cursor: pointer;
    background-color: #161b22;
    border-bottom: #f78166;
}
.path{
    margin-top: 5px;
    margin-bottom: -15px;
    color: dimgrey;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    user-select: none;
    position: fixed;
    top: 80px;
}
@media (max-width: 500px) {
    .header{
        height:60px;
        font-size: 20px;
    }
    .path{
        font-size: 10px;
        margin-bottom: -30px;
        top: 62px;
    }
}