.header{
  top:0;
  left:0;
  width:100%;
  height: 70px;
  background-color: #402E7A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}
.container{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.childDiv{
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #ECCEAE;
  width: 80%;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: black;
}
.childDiv:hover{
  transform: scale(1.02);
  transition: transform 0.3s;
}
@media(max-width: 500px) {
  .childDiv{
    min-width: 80%;
  }
}
