#root {
  margin: 0 auto;
}
.header{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 50px;
  background-color: lightgrey;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}
.container{
  display: flex;
  flex-grow: 1;
  width: 99vw;
  height:100%;
  position: relative;
  top: 50px;
  flex-direction: column;
  padding-top: 40px;
}
.childDiv{
  background-color: grey;
  min-height: 70px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 5%;
  color: white;
}

